@use '../../../assets/css/colors.scss';

$scalebutton-size: 53px;
$scalebutton-icon-size: 40px;

.scalebutton {
    border-radius: 50%;
    background-color: colors.$background-color;
    width: $scalebutton-size;
    height: $scalebutton-size;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {
        width: $scalebutton-icon-size;
        height: $scalebutton-icon-size;
    }

    -webkit-box-shadow: 0px 4px 9px 0px colors.$dark-shadow-color;
    -moz-box-shadow: 0px 4px 9px 0px colors.$dark-shadow-color;
    box-shadow: 0px 4px 9px 0px colors.$dark-shadow-color;
}