$base-color: #75E3E3;
$background-color: #FCFCFC;
$shadow-color: rgba(180, 178, 175, 0.5);
$dark-shadow-color: rgba(185, 185, 185, 1);
$accent-color: #D14A34;

$base-text-color: black;
$gray-text-color: #616161;
$other-text-color: #828282;
$header-text-color: #33845D;
$link-text-color: #75E3E3;

$component-color: #E4EFF4;
$map-component-color: #A455C9;
$map-fill-component-color: rgba(164, 85, 201, 0.2);

$second-color: #469BC1;





