@use '../../assets/css/colors.scss';

$menu-padding-right: 10%;
$menu-padding-left: 14%;
$menu-padding-top: 70px;
$menu-padding-bottom: 8%;
$menu-gap: 24px;

.menu {
    width: 100%;
    height: 100%;
    background-color: colors.$background-color;

    padding-left: $menu-padding-left;
    padding-right: $menu-padding-right;
    padding-top: $menu-padding-top;
    padding-bottom: $menu-padding-bottom;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: $menu-gap;

    position: relative;

    -webkit-box-shadow: 5px 0px 12px 0px colors.$shadow-color;
    -moz-box-shadow: 5px 0px 12px 0px colors.$shadow-color;
    box-shadow: 5px 0px 12px 0px colors.$shadow-color;
}