$menu-content-gap: 32px;
$menu-content-header-gap: 16px;
$menu-content-header-tools-gap: 8px;
$menu-content-list-gap: 12px;

.menu-content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: $menu-content-gap;
    position: relative;

    width: 100%;
    height: inherit;

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: $menu-content-header-gap;

        &-tools {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: $menu-content-header-tools-gap;
        }
    }

    &-listbox {
        flex: 1;
        position: relative;

        &-list {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            scroll-behavior: smooth;
            direction: rtl;
            gap: $menu-content-list-gap;
            padding-left: $menu-content-list-gap;

            * {
                direction: ltr;
            }

            /*&::-webkit-scrollbar {
                width: 0;
            }*/
        }
    }
}