$tree-label-content-gap: 8px;

.tree-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    &-content {
        display: flex;
        justify-content: start;
        gap: $tree-label-content-gap;

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: $tree-label-content-gap;
        }
    }
}