@use '../../assets/css/colors.scss';

$header-height: 110px;
$header-horizontal-padding: 32px;
$header-tools-gap: 24px;

.header {
    box-sizing: border-box;
    width: 100%;
    height: $header-height;
    padding-left: $header-horizontal-padding;
    padding-right: $header-horizontal-padding;
    background-color: colors.$background-color;
    position: relative;
    
    z-index: 100;

    display: flex;
    justify-content: space-between;

    &-left, &-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    &-left {
        gap: $header-horizontal-padding;
        width: calc(412px - 2 * #{$header-horizontal-padding});

        div {
            flex: 1;
        }
    }

    &-right {
        gap: $header-tools-gap;
    }
}