@use '../../assets/css/colors.scss';

$header-height: 110px;
$header-horizontal-padding: 32px;

.header {
    box-sizing: border-box;
    background-color: colors.$background-color;
    width: 100%;
    height: $header-height;
    padding-left: $header-horizontal-padding;
    padding-right: $header-horizontal-padding;
    position: relative;
    
    z-index: 100;

    display: flex;
    justify-content: space-between;

    &-left {
        display: flex;
        justify-content: space-between;
        gap: $header-horizontal-padding;
        align-items: center;
        align-content: center;
    }

    &-map-info {
        position: absolute;
        bottom: 15px;
        right: 23px;
    }

    -webkit-box-shadow: 0px 5px 12px 0px colors.$shadow-color;
    -moz-box-shadow: 0px 5px 12px 0px colors.$shadow-color;
    box-shadow: 0px 5px 12px 0px colors.$shadow-color;
}